.hero-container {
  height: 100vh;
  width: 100%;
  //   background: url("/images/art.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .hero-txt {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 50px;
    h1 {
      font-size: 5rem;
    }
  }
}
